[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = git://github.com/cakephp/debug_kit.git
[submodule "app/Plugin/Facebook"]
	path = app/Plugin/Facebook
	url = git://github.com/webtechnick/CakePHP-Facebook-Plugin.git
[submodule "app/Plugin/Recapcha"]
	path = app/Plugin/Recapcha
	url = git://github.com/lamanabie/cakephp-recaptcha.git
[submodule "app/Plugin/Upload"]
	path = app/Plugin/Upload
	url = git://github.com/josegonzalez/upload.git
