@charset "utf-8";
/* CSS Document */
/* Configuración general */
* {
	font-family: Arial, Helvetica, sans-serif;
}

.borde_tabla {
	background: url('/pintoresco/img/borde_tabla.png') center repeat-x;
} 

/* Paginacion - Se aplica a todas las paginas */
.orden {
	font-size: 12px;
	color: #000066;
	margin-left: 105px;
}

.paging {
	font-size: 12px;
	color: #201584;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 10px;
	text-decoration: none;
}

.paging:hover {
	font-size: 12px;
	color: #201584;
	text-decoration: underline;
}

/* Seccion de pintores */	
.pintor {
	border: 1px solid dotted;
	padding-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.pintores_index {
	background-color: white;
}

.pintores_index_content  {
	margin-left: 15px;
}

.pintores {
	font-size: 12px;
	color: #FF3300;
	font-weight: bold;
}

.txt_pintores {
	font-size:13px;
	color:#727272;
	font-weight:bold;
}

.destacado_pintores {
	font-size: 14px;
	color: #FF6600;
	font-weight: bold;
	background-color: #000066;
	text-align: center;
}

/* Servicios */
.tit_servicios {
	font-size:11px;
	color:#FFFFFF;
	font-weight:bold;
	background-color:#000066;
	padding-left:10px;
}

/* Convenios */
.tit_convenios {
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 15px;
	padding-top: 10px;
}

.convnios {
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	vertical-align: middle;
	padding-left: 15px;
}

.descuento {
	color: #000066;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
}

/* Promociones */
.tit_promociones {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
}

.promociones {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size:11px;
	padding-left:10px;
}

/** IDEAS SIPP */
.tit_ideas {
	font-size:15px;
	font-weight:bold;
	color:#201584;
}

.txt_ideas {
	font-size:13px;
	color:#727272;
}

/** PIE DE PAGINA **/
.pie .pie_seguinos {
	font-size: 10px;
	color: #FFFFFF;
	line-height: 14px;
	padding-top: 10px;
}

/** Materiales */
.materiales {
	padding-left: 15px;
	background-color: white;
}	
	
.materiales .material {
	
}

/** Menu CSS */


#cssmenu ul li {
	float: left;
	margin: 0;
	padding: 0;
	background: transparent url('/pintoresco/img/bg-bubplastic-button.gif') top left no-repeat;
}

#cssmenu li a:hover,.current {
	color: #ea7e2d;
	text-decoration:none;
}

#cssmenu ul li a {
	display: block;
	height: 32px;
	padding-left: 20px;
	float: left;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 75%;
	color: #FFFFFF;
	text-decoration: none;
}

#cssmenu ul li a span {
	display: block;
	float: left;
	height: 32px;
	padding-top: 8px;
	padding-right: 20px;
	background: transparent url('/pintoresco/img/bg-bubplastic-button.gif') top right no-repeat;
	cursor: pointer;
	font-family: 'Oswald';
}

#cssmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


#cssmenu {
	width: 100%;
	height: 32px;
	margin: 0;
	padding: 0;
	background: #000000 url('/pintoresco/img/bg-bubplastic.gif') top left repeat-x;	
}


/** Uso Multiple **/
.tit_generales {
	font-size: 15px;
	font-weight: bold;
	color: #201584;
	margin-left: 15px;
	margin-top: 13px;
}

.sub_tit_producto {
	font-size: 12px;
	font-weight: bold;
	color: #201584;
}

.sub_tit_producto_light {
	font-size: 12px;
	color: #201584;
}

.tit_form {
	font-size: 12px;
	font-weight: bold;
	color: #201584;
}

.inicio {
	background-color: #ea7e2d;
}
