@charset "utf-8";
/* CSS Document */
/* ConfiguraciÃ³n general */
* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #ea7e2d;
}

.borde_tabla {
	background: url('/pintoresco/img/borde_tabla.png') center repeat-x;
} 

.fondo_tabla { background-color:#FFFFFF;}

/* elementos con las mismas caracteristicas en todo el sitio */

/* titulos*/

.titulos {
	font-size:15px;
	font-weight:bold;
	color:#201584;
	margin-top:25px;
}

.titulos2 {
	font-size:15px;
	font-weight:bold;
	color:#201584;
	margin-top:20px;
	margin-left:25px;
	margin-bottom:25px;
	
}
 
/* sub-titulos generales en naranja por ejemplo para el nombre del pintor en con quien pinto */
.sub_titulos 	{
	font-size:13px;
	color: #FF6600;
	font-weight:bold;
	}

/* estilo para el orden del filtro con quien pinto y demas, Se aplica a todas las paginas que utilizen el "ordenar por"*/
.ordenar {
	font-size: 12px;
	color: #030378;
	margin-left: 10px;
	margin-top:20px;
}

/* estilo para el listado. cuando por ejmplo se listan caracteristicas, cualidades o productos*/
.listado {
	font-size:13px;
	color:#727272;
	font-weight:bold;
}

.listado a {
	color: #727272;
}

.txt_general {
	font-size:13px;
	color:#727272;
}

.sub_tit_producto {
	font-size:13px;
	color:#201584;
		}
		
.sub_tit_producto_light {
	font-size:13px;
	color:#201584;
	font-weight:bold;
	text-transform:capitalize;
		}

.tit_form {
	font-size:11px;
	color:#201584;
	font-weight:bold;
	}

/* estilo utilizado para el paginador */
.paging {
	font-size: 12px;
	color: #201584;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 10px;
	margin-left: 5px;
}

.paging .prev.disabled {
	 margin-right: 3px;
}

.paging:hover {
	font-size: 12px;
	color: #201584;
	text-decoration: underline;
}

.paging span a {
	color: #201584;
}

.txt_general {
	font-size:13px;
	color:#727272;
}

.materiales {
margin-left:25px;
margin-top:25px;}

.material { 
	margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    min-height: 30px;
    min-width: 200px;
    float: left;
	/*border: 1px solid black;*/
}

.pintor {
margin-left:10px;
margin-top:25px;}

.pintores_index { 
margin-top:10px;
margin-bottom:10px;
margin-left:20px;
}

.destacado_pintores {
background: -moz-linear-gradient(top,  rgba(60,54,130,1) 0%, rgba(71,67,127,0.79) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,54,130,1)), color-stop(100%,rgba(71,67,127,0.79))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(60,54,130,1) 0%,rgba(71,67,127,0.79) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(60,54,130,1) 0%,rgba(71,67,127,0.79) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(60,54,130,1) 0%,rgba(71,67,127,0.79) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(60,54,130,1) 0%,rgba(71,67,127,0.79) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3682', endColorstr='#c947437f',GradientType=0 ); /* IE6-9 */
color:#FFFFFF; 
font-size:12px;
font-weight:bold;
vertical-align: middle;
text-align: center;
}
	
.idea	{
margin-left:20px;
margin-top:25px;
margin-right:30px;}

.subtitulos {
	font-size:13px;
	color:#ea7e2d;
	line-height:50px;
	font-weight:bold;
	}

.tit_ideas {
color:#000099;
font-size:15px;
font-weight:bold;
text-transform:capitalize;
}



/* Convenios */ 
.tit_convenios {
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 15px;
	padding-top: 10px;
}

.convnios {
	color:#FFFFFF;
	font-weight:bold;
	text-transform:uppercase;
	font-size:16px;
	vertical-align:middle;
	padding-left:15px;
}

.covenios a:hover {
	color:#201584;
	font-weight:bold;
	text-transform:uppercase;
	font-size:14px;
	vertical-align:middle;
	padding-left:15px;
}

.descuento {
	color: #000066;
	font-weight:bold;
	text-transform:uppercase;
	font-size:11px;
}


/* Promociones  */
.tit_promociones {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
}

.tit_servicios {
background:#47437F;
font-size:12px;
color:#FFFFFF;
padding-left:10px;
}

.promociones {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size:11px;
	padding-left:10px;
}

.promociones index {
margin-left:10px;
margin-top:25px;}

.contacto {
margin-left:20px;
color:#000066;
margin-bottom:20px;
font-weight:bold;
}

.form_contact {
border: #666666 solid 1px !important;
color:#FFFFFF;
height:20px;
margin-left:60px;
margin-top:20px;
text-align: right;
width:250px;}

.input .text .label {
 width: 25%;
 float: left;}
   

/** PIE DE PAGINA   **/
.pie .pie_seguinos {
	font-size: 10px;
	color: #FFFFFF;
	line-height: 14px;
	padding-top: 10px;
}

.pie {
font-size: 10px;
	color: #FFFFFF;
	line-height: 14px;
	padding-top: 10px;
	}


/** Menu CSS */
#cssmenu ul li {
	float: left;
	margin: 0;
	padding: 0;
	background: transparent url('/pintoresco/img/bg-bubplastic-button.gif') top left no-repeat;
}

#cssmenu li a:hover,.current {
	color: #ea7e2d;
	text-decoration:none;
}

#cssmenu ul li a {
	display: block;
	height: 32px;
	padding-left: 20px;
	float: left;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 75%;
	color: #FFFFFF;
	text-decoration: none;
}

#cssmenu ul li a span {
	display: block;
	float: left;
	height: 32px;
	padding-top: 8px;
	padding-right: 20px;
	background: transparent url('/pintoresco/img/bg-bubplastic-button.gif') top right no-repeat;
	cursor: pointer;
}


#cssmenu {
	width: 100%;
	height: 32px;
	margin: 0;
	padding: 0;
	background: #000000 url('/pintoresco/img/bg-bubplastic.gif') top left repeat-x;
}
#cssmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}