@charset "utf-8";
/* CSS Document */
/* ConfiguraciÃ³n general */
* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #ea7e2d;
}

.borde_tabla {
	background: url('/pintoresco/img/borde_tabla.png') center repeat-x;
} 

.fondo_tabla { background-color:#FFFFFF;}

/* elementos con las mismas caracteristicas en todo el sitio */

/* titulos*/

.titulos {
	font-size:15px;
	font-weight:bold;
	color:#201584;
	margin-top:25px;
}
 
/* sub-titulos generales en naranja por ejemplo para el nombre del pintor en con quien pinto */
.sub_titulos 	{
	font-size:13px;
	color: #FF6600;
	font-weight:bold;
}

/* estilo para el orden del filtro con quien pinto y demas, Se aplica a todas las paginas que utilizen el "ordenar por"*/
.ordenar {
	font-size: 12px;
	color: #030378;
	margin-left: 10px;
	margin-top:20px;
}

/* estilo para el listado. cuando por ejmplo se listan caracteristicas, cualidades o productos*/
.listado {
	font-size:13px;
	color:#727272;
	font-weight:bold;
}

.listado a {
	color: #727272;
}

.txt_general {
	font-size:13px;
	color:#727272;
}


/* estilo utilizado para el paginador*/
.paging {
	font-size: 12px;
	color: #201584;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 10px;
}

.paging:hover {
	font-size: 12px;
	color: #201584;
	text-decoration: underline;
}

.txt_general {
	font-size:13px;
	color:#727272;
}

/* Convenios */ 
.tit_convenios {
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 15px;
	padding-top: 10px;
}

.convnios {
	color:#FFFFFF;
	font-weight:bold;
	text-transform:uppercase;
	font-size:14px;
	vertical-align:middle;
	padding-left:15px;
}

.descuento {
	color: #000066;
	font-weight:bold;
	text-transform:uppercase;
	font-size:12px;
}


/* Promociones  */
.tit_promociones {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
}

.promociones {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size:11px;
	padding-left:10px;
}


/** PIE DE PAGINA **/  
.pie .pie_seguinos {
	font-size: 10px;
	color: #FFFFFF;
	line-height: 14px;
	padding-top: 10px;
}


/** Menu CSS */
#cssmenu ul li {
	float: left;
	margin: 0;
	padding: 0;
	background: transparent url('/pintoresco/img/bg-bubplastic-button.gif') top left no-repeat;
}

#cssmenu li a:hover,.current {
	color: #ea7e2d;
	text-decoration:none;
}

#cssmenu ul li a {
	display: block;
	height: 32px;
	padding-left: 20px;
	float: left;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 75%;
	color: #FFFFFF;
	text-decoration: none;
}

#cssmenu ul li a span {
	display: block;
	float: left;
	height: 32px;
	padding-top: 8px;
	padding-right: 20px;
	background: transparent url('/pintoresco/img/bg-bubplastic-button.gif') top right no-repeat;
	cursor: pointer;
}


#cssmenu {
	width: 100%;
	height: 32px;
	margin: 0;
	padding: 0;
	background: #000000 url('/pintoresco/img/bg-bubplastic.gif') top left repeat-x;
}
#cssmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}